@model LibroDiarioMayorWebApp.Models.Catalogo

@{
    ViewData["Title"] = "Eliminar Cuenta";
}

<h1>Eliminar Cuenta de Catalogo</h1>

<h3>¿Estas seguro de que deseas eliminar esta cuenta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de Cuenta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCuenta)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Cuenta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCuenta)
        </dd>
        <dt class = "col-sm-2">
            Se incluye en:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluidaEn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumeroCuenta" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
