@model LibroDiarioMayorWebApp.Models.Catalogo

@{
    ViewData["Title"] = "Detalles de Cuenta";
}

<h1>Detalles de Cuenta de Catalogo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de Cuenta:
        </dt>
        <dd class = "col-sm-10">
            <b>@Html.DisplayFor(model => model.NombreCuenta)</b>
        </dd>
        <dt class = "col-sm-2">
            Tipo de Cuenta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCuenta)
        </dd>
        <dt class = "col-sm-2">
            Se incluye en:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluidaEn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NumeroCuenta">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
