@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Inicio";
}

<img class="logo-index" src="~/img/Logo.png" />
<p class="index-bienvenida">Aplicación de Libros Contables: Diario y Mayor</p>