USE [master]
GO
/****** Object:  Database [DiarioMayor]    Script Date: 13/05/2025 03:00:13 p. m. ******/
CREATE DATABASE [DiarioMayor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiarioMayor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DiarioMayor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiarioMayor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DiarioMayor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiarioMayor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiarioMayor]
GO
/****** Object:  Table [dbo].[Catalogo]    Script Date: 13/05/2025 03:00:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo](
	[numero_Cuenta] [int] NOT NULL,
	[nombre_Cuenta] [nvarchar](250) NOT NULL,
	[tipo_Cuenta] [nvarchar](70) NOT NULL,
	[incluida_En] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimientos]    Script Date: 13/05/2025 03:00:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[id_Movimiento] [int] NOT NULL,
	[id_Partida] [int] NOT NULL,
	[id_Cuenta] [int] NOT NULL,
	[saldo_Movimiento] [money] NOT NULL,
	[tipo_Movimiento] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 13/05/2025 03:00:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[numero_Partida] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[descripcion] [nvarchar](600) NOT NULL,
	[debe] [money] NULL,
	[haber] [money] NULL,
	[ingresado_Por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/05/2025 03:00:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Usuario] [nvarchar](200) NOT NULL,
	[tipo_Usuario] [nvarchar](20) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](200) NULL,
	[correo] [nvarchar](150) NULL,
	[ult_Inicio] [datetime] NULL,
	[clave] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_Usuario], [nombre_Usuario], [tipo_Usuario], [telefono], [direccion], [correo], [ult_Inicio], [clave]) VALUES (1, N'admin01', N'Admin', NULL, NULL, NULL, NULL, N'12345admin')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
