@{
    ViewData["Title"] = "Cambiar Contraseña";
    Layout = "_LayoutVacio";
}
<div class="row mt-5 justify-content-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h3 style="font-weight:bold" class="mb-2">Cambiar Contraseña</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Usuarios" asp-action="NewPassword">
                    <input type="hidden" name="Id" value="@ViewData["Id"]" />
                    <div class="d-grid mb-2">
                        <label class="form-label" for="Clave">Nueva Contraseña</label>
                        <input class="form-control mb-3" type="password" name="Clave" value="" />
                    </div>

                    <div class="d-grid mb-xxl-5">
                        <label class="form-label" for="ConfirmarClave">Confirmar Contraseña</label>
                        <input class="form-control mb-3 gap-xxl-3" type="password" name="ConfirmarClave" value="" />
                    </div>

                    <div class="d-grid mb-2">
                        <input class="btn btn-primary" type="submit" value="Guardar" />
                    </div>

                    @if (ViewData["Mensaje01"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje01"]
                        </div>
                    }
                </form>
            </div>
        </div>
        <a href="#" onclick="MostrarConsejo()">¿Por qué aparece esto?</a>
        <p class="alert alert-success" id="idConsejo" hidden></p>
    </div>
</div>
<script>
    function MostrarConsejo() {
        if (document.getElementById("idConsejo").innerHTML === "") {
            document.getElementById("idConsejo").innerHTML = "Este formulario aparece al utilizar una Clave Temporal dada por su Administrador para iniciar sesión, ya sea por ser un nuevo usuario o por haber reportado extravió de contraseña. Se le pide definir una clave personalizada para su perfil de usuario. <br> <br> Para más información, Contacte a su Administrador.";
            document.getElementById("idConsejo").hidden = false;
        }
        else {
            document.getElementById("idConsejo").hidden = true;
            document.getElementById("idConsejo").innerHTML = "";
        }
    }
</script>